<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
    <h1>Network Visualization Examples</h1>

    <hr>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-block btn-social btn-github" href="https://github.com/kimxogus/network-visualization-example">
                <span class="fa fa-github"></span>View on Github
            </a>
        </div>
    </div>

    <hr>

    <div class="list-group">
        <a class="list-group-item" href="d3.html">
            D3 example
        </a>
        <a class="list-group-item" href="cytoscape.html">
            Cytoscape example
        </a>
    </div>
</div>
</body>
</html>